프로그래밍 언어: Python \
데이터 분석 라이브러리: Pandas \
수학적 계산 라이브러리: Numpy \
차트 시각화 라이브러리: Matplotlib, Seaborn \
지도 시각화 라이브러리: Folium \
머신러닝: Scikit-learn 등 \
딥러닝: Tensor-flow, Pytorch 등 \
인공지능

In [7]:
a = "Life is too short, You need Python"
a[0], a[17], a[-1]

('L', ',', 'n')

In [13]:
# 포매팅은 f포매팅 쓰기

name = "이승희"
age = 23
f'나의 이름은 {name}이고, 나이는 {age}입니다.'

'나의 이름은 이승희이고, 나이는 23입니다.'

In [15]:
a = "hobby"
a.count('b')

2

In [1]:
a = [1, 4, 7, 0, 2, 7, 9, 3, 7, 4, 2]

In [2]:
a

[1, 4, 7, 0, 2, 7, 9, 3, 7, 4, 2]

In [3]:
a.sort()

In [4]:
a

[0, 1, 2, 2, 3, 4, 4, 7, 7, 7, 9]

In [6]:
a.reverse()

In [8]:
a

[9, 7, 7, 7, 4, 4, 3, 2, 2, 1, 0]

In [10]:
a.pop()

0

In [11]:
a

[9, 7, 7, 7, 4, 4, 3, 2, 2, 1]

In [12]:
dic = {1:'school', 2:'bus', 3:'students'}
dic

{1: 'school', 2: 'bus', 3: 'students'}

In [13]:
type(dic)

dict

In [14]:
# 객체로 반환되며 리스트처럼 사용할 수 있지만, 리스트 함수는 사용 불가능
dic.keys()

dict_keys([1, 2, 3])

In [18]:
# 위의 문제 해결 방법
# dict_keys 객체를 리스트로 변환
list(dic.keys())

[1, 2, 3]

In [15]:
dic.values()

dict_values(['school', 'bus', 'students'])

In [19]:
list(dic.values())

['school', 'bus', 'students']

In [20]:
# items()는 key와 value를 튜플로 반환
dic.items()

dict_items([(1, 'school'), (2, 'bus'), (3, 'students')])

모든 요소 삭제 \
dic.clear() \
빈 딕셔너리는 {}로 출력

딕셔너리에서 key값에는 immutable만 들어갈 수 있음 \
-> 리스트 불가능 \
key 값은 중복 불가

In [24]:
# key값이 딕셔너리 안에 있는지 반환 (있으면 true 없으면 false)
1 in dic

True

In [27]:
# key에 대응되는 value값 반환 : get()

dic.get(1)

'school'

In [28]:
# 없는 key를 호출하면 None 반환
dic.get(5)

In [30]:
# 이때 없는 key값일 경우 default(None)값을 다른 값으로 지정 가능
dic.get(5, '없다')

'없다'

In [31]:
a = 1
b = a
c = [1, 2, 3]
d = a+1

In [32]:
a = 2

In [33]:
b

1

In [34]:
d

2

In [35]:
a

2

In [37]:
id(a)

140734410532672

In [38]:
id(b)

140734410532640

In [39]:
# a 와 같은 곳을 가리킴
id(d)

140734410532672

set 자료형도 딕셔너리와 마찬가지로 순서가 없어 인덱싱 불가능 \
print에서 ,는 띄어쓰기 해주는 것과 같은 효과

In [40]:
print('i', 'have', 'a', 'dog')

i have a dog

In [41]:
# sep는 print에서 줄 수 있는 옵션 구분자로 변수들을 구분해줌
print('i', 'have', 'a', 'dog', sep=',')

i,have,a,dog

파이썬의 print는 default로 엔터를 해주는 데 이걸 변경하고 싶다면 \
옵션으로 end = '끝내는 문자' 해주면 된다.

In [42]:
print('i', 'have', 'a', 'dog', sep=',', end = '')
print('i', 'have', 'a', 'dog', sep=',')

i,have,a,dogi,have,a,dog

# 제어문

C의 which처럼 python에도 match라는 것이 최근에 3.10 버전에 새로 나옴

In [2]:
ob = input("찾는 물건은?: ")
a = ['paper', 'coin', 'phone']
if ob in a:
    print("이 안에 있습니다.")
else:
    print("존재하지 않습니다.")

찾는 물건은?: 돈
존재하지 않습니다.

시험점수를 입력받고 90점 이상은 A, 80점 이상은 B, 70점 이상은 C, 그 이하는 F로 성적을 출력하는 프로그램을 if문을 이용해 작성하시오.

In [6]:
score =int(input("시험점수를 입력하시오: "))
if score >= 90: print('A')
elif score >= 80: print('B')
elif score >= 70: print('C')
else: print('F')

시험점수를 입력하시오: 90
A

while문을 이용해 1부터 1000까지의 자연수 중 3의배수의 합을 출력하는 프로그램을 작성하시오.

In [15]:
# 첫 번째 경우
sum = 0
i = 0
while i<1000:
    i += 1
    if i%3 != 0: continue
    sum += i
print(sum)

166833

In [16]:
# 두 번째 경우
sum = 0
i = 0
while i<1000:
    i += 1
    if i%3 == 0: sum += i
print(sum)

166833

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
for문을 사용하여 A 학급의 평균 점수를 구하시오

In [24]:
# list원소 이용하는 경우
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
mean = 0
for i in A:
    sum += i
mean = sum/len(A)
mean

79.0

In [22]:
# list의 인덱스를 이용하는 경우
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
mean = 0
for i in range(len(A)):
    sum += A[i]
mean = sum/len(A)
mean

79.0

# 함수

#### return의 기능
함수가 return을 안 해주면 None값이 리턴되는 것과 마찬가지

In [26]:
def add(a, b):
    c = a+b
    print(c)

In [27]:
d = add(10, 20)
print(d)

30
None

#### 여러 개의 매개변수를 받는 함수 *args
args의 타입은 tuple

In [32]:
def add_many(*args):
    result = 0
    print(type(args))
    for i in args:
        result += i
    return result

In [33]:
result = add_many(1, 2, 3)
print(result)

<class 'tuple'>
6

In [31]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

여러 개의 매개변수 사용

In [34]:
def add_mull(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result += i
    elif choice == "mull":
        result = 1
        for i in args:
            result *= i
    return result

In [37]:
result = add_mull('add', 1, 2, 3)
result

6

In [39]:
result = add_mull('mull', 1, 2, 3)
result

6

default가 정해진 매개변수는 맨 뒤에 써줘야 에러가 나지 않는다.

In [52]:
# def myself(age, sex=True, name):   이렇게 가운데에 넣으면 에러가 난다.
def myself(age, name, sex=True):
    print('나이: ', age)
    print('이름: ', name)
    if sex: print('성별: 남자')
    else: print('성별: 여자')

In [53]:
myself(20, 'hong', True)

나이:  20
이름:  hong
성별: 남자

# 파일 읽고 쓰기

### 파일 생성하기

In [73]:
# 소스코드를 실행하면 프로그램을 실행한 디렉토리 안에 새로운 파일이 생성됨
file = open("테스트 파일.txt", 'a')

file.write('2021-06-29 텍스트 파일 생성해보는 실습')   # write는 문자열만 입력 가능 ( 숫자 에러남 )
file.write('\n')

file.close()     # 파일을 생성(=open)하면 반드시 닫아줘야(close) 한다.

# 파일 열기 모드
# r : 읽기 모드, 파일을 읽기만 할 때 사용
# w : 쓰기 모드, 파일을 쓰기 모드(w)로 열면 해당 파일이 이미 존재할 경우 원래 있던 내용이 모두 사라지고, 
#                해당 파일이 존재하지 않으면 새로운 파일이 생성됨
# a : 추가 모드, 뒤에 append한다는 옵션

In [74]:
for i in range(1, 11):
    data = "%d번 째 줄입니다.\n" %i
    print(data)

1번 째 줄입니다.

2번 째 줄입니다.

3번 째 줄입니다.

4번 째 줄입니다.

5번 째 줄입니다.

6번 째 줄입니다.

7번 째 줄입니다.

8번 째 줄입니다.

9번 째 줄입니다.

10번 째 줄입니다.

In [76]:
file = open("테스트 파일.txt", 'w')
for i in range(1, 11):
    data = "%d번 째 줄입니다.\n" % i
    file.write(data)
file.close()

In [77]:
# readline.py
f = open("테스트 파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번 째 줄입니다.

실습문제

내가 푼 버전

In [17]:
# 파일 쓰기
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
file = open("score.txt", 'w')
for i in A:
    data = '%d\n' % i
    file.write(data)
file.close()

In [18]:
# test 리스트에 점수 입력 받기
test = []
file = open("score.txt", 'r')
lines = file.readlines()
for line in lines:
    test.append(line)
file.close()

In [19]:
# 리스트의 문자열 값 int로 바꿔서 평균 구하기
result = 0
for i in range(len(test)):
    result = result + int(test[i][:-1])
result / len(test)

79.0

교수님이 도와주신 버전

In [15]:
# 파일 읽어오면서 int로 바로 변환해 더하는 과정
test = 0
i = 0
file = open("score.txt", 'r')
while True:
    line = file.readline()
    if not line: break
    test = test + int(line)
    i += 1
file.close()
test / i

79.0

# 클래스

In [137]:
class Student:
    name = "홍길동"
    def info(self):
        print("제 이름은" + self.name + "입니다. ")

In [148]:
a = Student()
a.info()

제 이름은홍길동입니다.