# 데이터프레임

In [1]:
import pandas as pd

In [5]:
# 열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 
             'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터 프레임으로 변환, 변수 df에 저장
df = pd.DataFrame(dict_data)

# df의 자료형 출력
print(type(df))
print('\n')
# 변수 df에 저장되어 있는 데이터프레임 객체를 출력
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [8]:
# 행 인덱스 / 열 이름 설정

# df.index : 행 인덱스
# df.columns : 열 이름

df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], 
                 index = ['준서', '예은'], 
                 columns = ['나이', '성별', '학교'])

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)
print('\n')

# 모든 행이나 열을 바꿀 때
df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)
print('\n')

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

특정 행의 인덱스나 열 이름을 수정할 때

In [12]:
# 특정 행이나 열을 바꿀 때
# 학생1만

df.rename(index = {'학생1' : '하은'})

     연령 남녀   소속
하은   15  남  덕영중
학생2  17  여  수리중

In [13]:
df.rename(columns = {'연령' : 'age'})

# 출력에서 볼 수 있듯이 df는 원본 데이터가 바뀌지 않는다.
# 그래서 사용하는 것이 inplace=True (default=False)

     age 남녀   소속
학생1   15  남  덕영중
학생2   17  여  수리중