code창을 markdown으로 바꾸는 단축키: esc+m\
python은 객체지향 언어\
object.하고 'tap'키를 누르면 메서드 목록이 뜸

# 한 개
## 두 개
### 세 개

커맨드 모드(활성화) 끄기: esc -> 편집 모드(비활성화)

문자열\
C: ', " 구분\
JAVA: " 큰 따옴표만\
python: ', " 둘 다 사용

In [1]:
name = 'hong'
age = 24

In [14]:
# 문자열 포매팅
# C언어 스타일
print('name is %s age is %d\n' %(name, age))
print('name is {} age is {}' .format(name, age))
print('name is %s age is %s' %(name, age))         # 숫자를 string으로 받아도 에러가 안 남

# 파이썬
print(f'name is {name} age is {age}')

name is hong age is 24

name is hong age is 24
name is hong age is 24
name is hong age is 24

In [15]:
str1 = 'python is good ranguage!'

In [18]:
str1.find('g') # 모든 문자를 찾지 않고 첫번째 발견한 문자열의 인덱스를 반환

10

In [19]:
str1.index('g')

10

In [20]:
str1.find('f')   # 없는 값을 찾으면 -1 반환
# str1.index('f')  에러가 난다

-1

In [21]:
# split()
# 구분자로 문자열을 분리, 구분자는 괄호 안에 명시
# default는 공백
# split한 문자열을 리스트로 반환

a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [24]:
print('my', 'name', 'is', 'hong')   # 콤마로 구분된 문자열 사이 공백이 넣어져 출력됨
print('my', 'name', 'is', name)
print('my', 'age', 'is', age)

my name is hong
my name is hong
my age is 24

In [26]:
a = input() # string으로 됨

1234

In [27]:
type(a)

str

In [36]:
b = int(input('숫자를 입력: '))   # 숫자 외 입력 시 에러

숫자를 입력: 1

In [38]:
type(b)

int

In [44]:
name, address = input('이름과 주소 입력: ').split()   #  공백으로 구분

이름과 주소 입력: d d

In [45]:
print(name, address)

d d

In [4]:
# input으로 int를 여러 개 받는 방법: map
# age, grade = int(input('나이, 학년: ').split())    에러남
age, grade = map(int, input('나이, 학년: ').split())
print(age, grade)

나이, 학년: 3 3
3 3

In [5]:
type(age)

int

In [1]:
age = int(input())

3

input()은 항상 받은 string으로 문자열을 받음 \
그래서 형을 바꾸고 싶을 때는 한 개면 그냥 자료형쓰고 괄호로 씌워주면 됨 \
그러나 두 개 이상일 때는 map(자료형, input(문자열).split('기준문자열')) 이런 식으로 해줘야 함

In [6]:
age, grade = input('나이, 학년: ').split()

나이, 학년:  3 3

In [7]:
type(age)

str

In [8]:
age = int(input())

3

In [9]:
type(age)

int